:root {
    --Green: darkolivegreen;
    --white: navajowhite;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    background-color:var(--Green)
    
} 
#header {
    padding: 20px;
    background-color:var(--white);
    color: var(--Green)
}#header h1 {
    display: inline-block;
    font-size: 48px;
}
#header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

#header li {
    display: inline-block;
    margin-left: 25px;
    font-size: 28px;
    
}


#header a {
    color: var(--Green);
    text-decoration:solid, underline;
}



.container {
    
    display: flex;
    position: relative;
    width: 1000px;
    justify-content: space-between;
    align-items:center;
    
    
}

.container img{
    max-width: 300px;
    flex: 0 0 300px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 25px;
    width: 400px;
    border-radius: 15%;
   }
 
#About-Me{
    margin-left: 25px;
    margin-top: 75px;
    color: var(--white)
    
}
 
main p {
    font-size: 20px;
   
    
}
h3{
    margin-left: 25px;
;
}
.Work {
    color: var(--white);
    margin-top: 50px;
    margin-bottom: 10px;
}
figure{
    display:inline-block;
}
#first-project{
    height: 300px;
    width: 600px;
    margin: 25px;

}
#placeholder-1 {
    height: 300px;
    width: 300px;
    margin: 25px;
    


}

#placeholder-2 {
    height: 300px;
    width: 300px;
    margin: 25px;
    
}


  footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background-color:var(--white);
    color:var(--Green)
}

footer nav{
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    font-size: 20px;
}

footer h4 {
    font-size: 36px;
}


footer li{
    display: inline-block;
    margin-left: 25px;
    font-size: 24px;
    color: var(--Green)
    
}
footer li a{
    color: var(--Green);
    text-decoration: solid,underline;
}
@media (max-width: 768px){
.container{
flex-wrap: wrap;
}
}